<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1>Create Police Station</h1>
            <form class='signUpForm' #signUpForm='ngForm' (ngSubmit)='signUp()'>
            <table>
                <tr>
                    <td>
                        <input class="form-control ds-input" type="text" name="StationName" placeholder="Enter Police Station Name" [(ngModel)]="StationName">
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <input class="form-control ds-input" type="text" name="Password" placeholder="Enter Password" [(ngModel)]="Password">
                    </td>
                </tr>
                <td>
                        <button type="submit" class="btn btn-success">Create</button>
                </td>
            </table>
            </form>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
