<header>
  <div class="container-fluid">
    <nav>

      <ul class="nav nav-tabs">
        <b> <a href="" class="nav-link">{{appTitle}} </a></b>
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="signUp">signUp</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="fir">fir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="MasPasReset">MasPasReset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="MasterPage">MasterPage</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
