<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="text-center">Master Login</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <form class="loginForm" #loginForm="ngForm" (ngSubmit)='login()'>
              <table class="table">

                <tr>
                  <td><input class="form-control ds-input" type="text" name="Password"
                      placeholder="Enter Master Password" [(ngModel)]="Password"> </td>
                  <td> <button> Login</button></td>

                </tr>
                <tr>
                  <td>
                    <h6><a href="MasPasReset">First Start Or Reset Password Click Here</a> </h6>
                  </td>
                </tr>
              </table>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <h1 class="text-center"> Station Login</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="class lg 8" layout-fill layout-align="center center">
            <form class="StLog" #StLog="ngForm" (ngSubmit)="stLog()">
              {{StLog.value | json }}

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Select Your Station</label>
                    </div>
                <select class="custom-select" id="inputGroupSelect01" name="StationAddr" [(ngModel)]="StationAddr">
                  <option value={{St.StatAddr}} *ngFor="let St of Station">{{St.name}}</option>
                </select>
              </div>
              <input class="form-control ds-input" type="text" name="StPass" placeholder="Enter Password"
                [(ngModel)]="StPass"><br>
              <button type="submit" class="btn btn-success">Login</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
