<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="text-center">Master Login</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <form class="loginForm" #loginForm="ngForm" (ngSubmit)='login()'>
              <table class="table">

                <tr>
                  <td><input class="form-control ds-input" type="text" name="Password"
                      placeholder="Enter Master Password" [(ngModel)]="Password"> </td>
                  <td> <button> Login</button></td>

                </tr>
                <tr>
                  <td>
                    <h6><a href="MasPasReset">First Start Or Reset Password Click Here</a> </h6>
                  </td>
                </tr>
              </table>
            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <h1 class="text-center"> Station Login</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="class lg 8" layout-fill layout-align="center center">
            <table class="table">
              <tr>
                <td>
                  <select class="custom-select">
                    <OPtion selected>Select Your Station</OPtion>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audidgdfgfdhfghfghgjghjghjghj</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><input class="form-control ds-input" type="text" placeholder="Enter Password"></td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-success">Login</button>
                </td>

              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
