<div class="container fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <h1> Case Register</h1>
            <table class="table">
                <tr>
                    <td><input class="form-control ds-input" type="text" placeholder="Prathy"></td>
                </tr>
                <tr>
                        <td><input class="form-control ds-input" type="text" placeholder="Vaadi"></td>
                    </tr>
                    <tr>
                            <td><input class="form-control ds-input" type="text" placeholder="Tittle"></td>
                        </tr>
                        <tr>
                                <td>
                                        <select class="custom-select">
                                                <OPtion selected>Select Case Type</OPtion>
                                                <option value="volvo">Criminal</option>
                                                <option value="saab">Civil</option>
                                                <option value="opel">Narcotic</option>
                                                <option value="audi">Terririst</option>
                                            </select> 
                                </td>
                            </tr>
                            <tr>
                                    <td><input class="form-control ds-input" type="text" placeholder="Write Up" height="12" width="12"></td>
                                </tr>
                                <tr>
                                        <td><input type="file" name="image"></td>
                                    </tr>
                                <tr>
                                    <td>
                                            <button type="button" class="btn btn-success">Submit</button>
                                    </td>
                                </tr>
            </table>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>