<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <table class="table">
                <tr>
                    <td>
                        <input class="form-control ds-input" type="text" placeholder="Set Or Reset Your Master Password">
                    </td>
                    <td> <button class="btn btn-success">Done</button></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>